.Home{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5%;

}

.Type{
    font-size: 60px;
}
.img {
    flex: 2
}
.bio{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.bio > h1{
    color: white;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h1 > span{
    color:  #2a9d8f;
}

.pics{
    display: flex;
}

.img > img{

    height: 400px;
    width: 400px;
    border: 5px solid #2a9d8f;
    border-radius: 35%;
}

.icon > img{
    height: 200px;
    width: 200px;
}


@media only screen and (max-width: 500px) {

    .Home{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5%;
    
    }
    .img > img{
        height: 300px;
        width: 300px;
        border: 5px solid #2a9d8f;
        border-radius: 35%;
    }
    h1{
        font-size: 30px;
        font-weight: bold;
    }
    .Type{
        font-size: 30px;
        font-weight: bold; 
    }
  }