.Navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
   
}

.logo{
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #2a9d8f;
  border-radius: 50%;
  display: flex; 
  padding: 20px;
} 

.logo > span{
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.links{
   display: flex;
}

.nav-links{
    list-style-type: none;
    display: flex;
    gap: 25px;
}



a {
    color: inherit;
    text-decoration: inherit;
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    color: #8ecae6;
    transition: .3s;
}



/* CSS */
.button-dark {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-dark:disabled {
  pointer-events: none;
}

.button-dark:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-dark:active {
  box-shadow: none;
  transform: translateY(0);
}



.button-light{
    appearance: none;
    background-color: #264653;
    border: 2px solid #264653;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-light:disabled {
    pointer-events: none;
  }
  
  .button-light:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-light:active {
    box-shadow: none;
    transform: translateY(0);
  }


